.container {
    width: auto;
}
.modal-image {
    &.image {
        max-width: 90% !important;
        text-align: center;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }
}
.modal-body {
    &.image {
        height: 80% !important;
    }
}
.modal-header {
    &.image {
        display: grid;
    }
}